<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Hello World</title>
  <!-- <link href="style.css" rel="stylesheet" type="text/css" /> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  
</head>

<body>
  <div class="container" id="app">
    <div class="row">
          <div class="col">
          </div>
          <div class="col">
                  <p  v-bind:title="count">{{ message }}</p>
                  Your name: <input type="text" v-model="vistor_name" />
                  <button  v-bind:class="buttonStyle" v-on:click="sayHi">Say Hi</button>
                  <p v-if="count > 3"> Got awesome number of replies ❤️ ({{count}}) </p>
                  <p v-else-if="count <= 3 && count > 0"> Got replies {{count}} </p>
                  <p v-else> No replies yet</p>
                  <ul>
                      <li v-for="name in names"> {{name}} </li>
                  </ul>
          </div>  
          <div class="col">
          </div>
      </div>
  </div>

 <!--
  This script places a badge on your repl's full-browser view back to your repl's cover
  page. Try various colors for the theme: dark, light, red, orange, yellow, lime, green,
  teal, blue, blurple, magenta, pink!
  -->
  <!-- <script src="https://replit.com/public/js/replit-badge.js" theme="blue" defer></script>  -->
</body>
<script src="application.js"></script>
</html>
